[submodule "vsf"]
	path = vsf
	url = ../../vsfteam/vsf
[submodule "application/3rd-party/busybox/raw"]
	path = application/3rd-party/busybox/raw
	url = ../busybox
[submodule "application/3rd-party/micropython/raw"]
	path = application/3rd-party/micropython/raw
	url = ../micropython
[submodule "application/3rd-party/alsa/alsa-lib"]
	path = application/3rd-party/alsa/alsa-lib
	url = ../../alsa-project/alsa-lib
[submodule "application/3rd-party/alsa/alsa-utils"]
	path = application/3rd-party/alsa/alsa-utils
	url = ../../alsa-project/alsa-utils
